In [1]:
import sys
import os

# Add the parent directory (Auditbot_backend) to the system path
sys.path.append(
    os.path.abspath(
        os.path.join(
            os.path.dirname(f"{os.getcwd()}/tables.ipynb"),
            '..'
        )
    )
)

In [2]:
from llama_index.readers.file import PyMuPDFReader
import camelot

file_path = "../data/documents/ar_fy2022_23.pdf"

# initialize PDF reader
reader = PyMuPDFReader()

# initialise document
docs = reader.load(file_path)

In [3]:

 # use camelot to parse tables
def get_tables(path: str, pages):
    table_dfs = []
    for page in pages:
        table_list = camelot.read_pdf(path, pages=str(page))
        if table_list.n == 0:
            continue
        table_df = table_list[0].df
        table_df = (
            table_df.rename(columns=table_df.iloc[0])
            .drop(table_df.index[0])
            .reset_index(drop=True)
        )
        table_dfs.append(table_df)
    return table_dfs


 # use camelot to parse tables
def get_tables2(path: str, pages):
    table_dfs = []
    for page in pages:
        table_list = camelot.read_pdf(path, pages=str(page))
        print(table_list)
        print(table_list.n)

In [4]:
table_dfs = get_tables(file_path, pages=[50, 70])

# obtain tables from llama
table_dfs[0]

,JSS,,,,,,,,
0,,,,,,,,,
1,,,$29.38 billion \ndisbursed,,,,"Around 165,000 \nlocal jobs saved*",,
2,,,,,,,,,
3,,,"17,853 \nappeals processed",,"More than 180,000 \nentities benefitted*",,,,
4,,,,,,,,,
5,,,,,,,,,